* {
    margin: 0;
    padding: 0;
    font-family: nanumsquare, sans-serif;
  }
  html{
    font-size: 62.5%; 
  }
  a {
    text-decoration: none;
    font-size: 24px;
    color: #fff;
  }
  
  li {
    list-style: none;
  }
  
  header {
    background-color: #111;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  header .search:hover{
      opacity: calc(0.3);
  }

  header .menu_img:hover{
      opacity: calc(0.3);
  }
  header .list_login:hover{
      opacity: calc(0.3);
  }

  .list_menu {
    display: flex;
    align-items: center;
  }
  
  .list_menu li a {
    margin-right: 16px;
    margin-left: 16px;
  }
  
  .list_login {
    font-size: 24px;
    margin-right: 20px;
  }
  .menu{
    background-color: #111;
    height: 10vh;
    width: 100%;
  
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .menu a{
    font-size: 1.4rem;
    margin-left: 20%;
    margin-right: 20%;

  }
  .menu a:hover{
    opacity: calc(0.3);
  }
  .button{
      display: flex;
      align-items: center;
  }
  
  .button .search{
      margin-left: 20px;
  }
  .button .menu_img{
      margin-left: 20px;
  }
  .line{
      height: 0.5rem;
      width: 100%;
      background-color: #F2F2F2;
  }

  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 75vh;
    background-image: linear-gradient( rgba(0,0,0,0.1), rgba(0,0,0,0.1) ), url(https://i.postimg.cc/25HRzFnw/hero-img.jpg);
    background-position: center;
    background-size: cover;
    animation:container 9s infinite;
    animation-direction:alternate;
    }

    @keyframes container {
    0% {
        background:url(https://i.postimg.cc/25HRzFnw/hero-img.jpg);
        background-size:cover;
        background-position:center center;
        color: #D9D9D9;
    } 

    50% {
        background:url(https://i.postimg.cc/14hcnHvz/hero-img3.png);
        background-size:cover;
        background-position:center center;
        color: #1C3240;
    }
    100% {
        background:url(https://i.postimg.cc/PJL28NhS/hero-img2.png); 
        background-size:cover;
        background-position:center center;
    }

}

    .container p{
      color: #D9D9D9;
      display: block;
      display: flex;
      font-size: 40px;
      letter-spacing: 96px;
      margin-left: auto;
      margin-right: auto;
      min-width: 600px;
      display: block;
      justify-content: center;
      align-items: center;
  }

  .fade_out_box {
    display: inline-block;
    padding: 10px;
    animation: fadeout 9s infinite;
    animation-direction:alternate;
    animation-fill-mode: forwards;
    }
    @keyframes fadeout {
        0% {
            opacity: 1;
        }
        50% {
            opacity: 0;
        }
        100%{
            opacity: 1;
        }
    }


  .artist_recommend{

        width: 100%;
        min-width: 600px;
        display: flex;
        flex-wrap: wrap;
        gap: 36px 18px;
        justify-content: center;
        align-items: center;
    }

    .artist_list {
        width: 17%;
        flex: 0 0 calc((100%-54px)/4);
    }    
    .muse{
        max-width: 96%;
        max-height: 96%;
    }
    h1{
        flex: 0 0 100%;
        margin-top: 7rem;
        margin-bottom: 5rem;
        text-align: center;
        color: #333;
        font-size: 4rem;
    }

    .product p{
        margin-top: 10px;
    }

    .product2 p{
        margin-top: 16px;
        color: #333;
    }
    .radio_user{
        margin-top: 18px;
        margin-bottom: -3px;
    }
    .tag2{
        color: #d9d9d9;
        margin-top: 0px;
    }
    .container2{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 36px 18px;
        margin-bottom: 8rem;
        
    }
    .product {
        width: 248px;
        height: 403px;
        border: 1px solid #fff;
        box-shadow: 1px 1px 5px #d9d9d9;
        
    }
    .product2 {
        width: 248px;
        height: 403px;
        border: 1px solid #fff;
        box-shadow: 1px 1px 5px #d9d9d9;
        
    }
    .text_box{
        padding: 20px;
        width: 208px;
    }
    .radio_img{
        width: 100%;
        height: 244px;
    }
    .gray_var{
        background-color: #D9D9D9;
        height: 0.5vh;
        width: 80vw;
        margin-top: 78px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin:0 auto;
    }
    .search2{
        width: 33.5rem;
        border: 0.1rem solid #fff;
        border-radius: 0.5rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-left: 90rem;
        box-shadow: 0.1rem 0.1rem 0.5rem #d9d9d9;
    }
    .mv_search{
        margin-right: 1.1rem;
    }
    .search2 p{
        margin-left: 1.8rem;
    }
    .tag{
        width:100%;
        margin-top: 4rem;
        flex-wrap: wrap;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .mv .tag a{
        color: #000;
        font-size: 14px;
        border: 1px solid #fff;
        box-shadow: 1px 1px 5px #d9d9d9;
        border-radius: 5px;
        width:  15rem;
        margin-left: 2rem;
        margin-right: 2rem;
        padding: 5px;
        display: flex;
        margin-bottom: 2rem;
        justify-content:center;
        align-items: center;
        flex-wrap: wrap;
    }
    .container3{
        margin-top: 5.3rem;
        width: 80%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 36px 18px;
        margin:0 auto;
    }

    .number{
        display: flex;
        justify-content: center;
        align-items: baseline;
        margin-top: 10rem;
        width: 24.2rempx;
        margin:0 auto;  
        margin-top: 4rem;
    }
    .gray{
        margin-left: 1.4rem;
        margin-right: 1.4rem;
        width: 2.6rem;
        height: 0.3rem;
        filter: brightness(1);
        margin-bottom: 4rem;
    }
    .gray:hover{
        filter: brightness(0.1);
    }


    .pick_song{
        margin-top: 10rem;
        background-color: #FAFAFA;
        background-size: cover;
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        height: 34rem;
    }
    .pick_box{
       display: flex;
       justify-content: space-around    ;
       align-items: center;
    }
    .pick_main{
        margin-top: 4rem;
        width: 19.4rem;
        height: 19.4rem;
        margin-left: 6rem;
    }
    .pick_text{
        margin-left: 10rem;
        margin-top: 4rem;
    }
    .pick_text h3{
        color : #00C792;
        font-size: 2.8rem;
    }
    .pick_text p{
        margin-top: 1.7rem;
        font-size: 2.8rem;
    }
    .user_img{
        display: flex;
        justify-content: start;
        align-items: center;
    }
    .pick_text .user_img .user{
        margin-top: 2.7rem;
        margin-left: 1rem;
        margin-right: 1rem;
    }
    .gray_circle1{
        margin-top: 2.7rem;
        margin-left: 1rem;
    }
    .gray_circle2{
        margin-top: 2.7rem;
        margin-left: 1rem;
    }
    .gray_circle3{
        margin-top: 2.7rem;
        margin-left: 1rem;
    }

    .member{
        width: 90%;
        display: flex;
        justify-content: start;
        align-items: center;
        margin-left: 4rem
    }
    .member li{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .member p{
        width: 11rem;
    }
    .member h4{
        margin-left: 8rem;
        color: #00C792;
        border: 1px solid #00C792;
        padding: 0.7rem;
        border-radius: 0.5rem;
        width: 9.7rem;
        text-align: center;
        margin-top: 1rem;
    }
    h3{
        margin-top: 2rem;
        margin-right: 1rem;
        color: #333;
    }


    .footer{
        height: 16%;
        width: 100%;
        background-color: #000;
    }

    .tooter_box{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        width: 100vw;
        margin: 0 auto;
        background-color: #000;
    }

    .high_box{
        width: 100%;
        flex-wrap: wrap;
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: #000;
    }
    .under_box{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-left: 13%;
        background-color: #000;
    }

    .sns{
        display: flex;
        justify-content: end;
        align-items: center;
    }
    .sns img{
        margin-right: 10%;
    }
    .footer_text1{
        width: 40vw;
        display: flex;
        justify-content: start;
        align-items: center;
        margin-left: -1%;
    }
    .footer_text1 p{
        font-size: 0.8rem;
        color: #CACACA;
    }
    .footer_text2{
        width: 52vw;
        height: 10vh;
        margin-top: 2rem;
        display: flex;
        justify-content: start;
        align-items: center;
        flex-wrap : wrap;
        
    }
    .footer_text2 p{
        font-size: 0.4rem;
        color: #717171;
    }
    .company{
        display: flex;
        justify-content: start;
        align-items: center;
    }
    .company img{
        margin-right: 4px;
        width: 8px;
        height: 8px;
        margin-bottom: 2px;
    }
    .gray_var_small2{
        width: 1px;
        height: 10px;
        background-color: #CACACA;
        margin-left: 10px;
        margin-right: 10px;
    }
    .gray_var_small3{
        width: 1px;
        height: 10px;
        background-color: #717171;
        margin-left: 10px;
        margin-right: 10px;
    }
    .sub content{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    .gray_var3{
        background-color: #D9D9D9;
        display: flex;
        justify-content:center ;
        align-items: center;
        margin-left: 10%;
        height: 0.2vh;
        width: 80vw;
        margin:0 auto;
        margin-top: 2%;
        margin-bottom: 2%;
    }